n8n/screensaver-step3-complete.json
{
  "name": "Screensaver Image→Video (Step 3) - Complete",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "screensaver-image-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "screensaver-image-video"
    },
    {
      "parameters": {
        "jsCode": "const { theme, clip_number, image_path, effect_type, effect_duration = 27, audio_track = null, audio_volume = 0.5 } = $input.json;\n\n// MinIO paths\nconst tempImage = `/tmp/screensaver-${theme}-${clip_number}.png`;\nconst tempVideo = `/tmp/screensaver-${theme}-${clip_number}.mp4`;\nconst outputVideoPath = `screensavers/${theme}/clips/clip_${clip_number.toString().padStart(2, '0')}.mp4`;\n\n// Effect filter\nconst fps = 30;\nconst totalFrames = effect_duration * fps;\n\nconst effectFilters = {\n  zoom_in: `zoompan=z='min(zoom+0.0011,1.10)':d=${totalFrames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080`,\n  zoom_out: `zoompan=z='max(zoom-0.0011,1.0)':d=${totalFrames}:x='iw/2-(iw/zoom/2)':y='ih/2-(ih/zoom/2)':s=1920x1080`,\n  pan_left: `crop=iw*0.9:ih*0.9:x='if(gte(t,0),iw*0.1*(t/${effect_duration}),0)':y=ih*0.05,scale=1920:1080`,\n  pan_right: `crop=iw*0.9:ih*0.9:x='if(gte(t,0),iw*0.1*(1-t/${effect_duration}),0)':y=ih*0.05,scale=1920:1080`,\n  pan_up: `crop=iw*0.9:ih*0.9:x=iw*0.05:y='if(gte(t,0),ih*0.1*(1-t/${effect_duration}),0)',scale=1920:1080`,\n  pan_down: `crop=iw*0.9:ih*0.9:x=iw*0.05:y='if(gte(t,0),ih*0.1*(t/${effect_duration}),0)',scale=1920:1080`\n};\n\nconst filter = effectFilters[effect_type] || effectFilters.zoom_in;\nconst fadeFilter = `fade=t=in:st=0:d=0.5,fade=t=out:st=${effect_duration - 0.5}:d=0.5`;\nconst fullFilter = `${filter},${fadeFilter}`;\n\nlet cmd = `ffmpeg -y -loop 1 -i \"${tempImage}\" -vf \"${fullFilter}\" -c:v libx264 -preset fast -crf 23 -t ${effect_duration} -pix_fmt yuv420p \"${tempVideo}\"`;\n\nif (audio_track) {\n  cmd += ` -i \"${audio_track}\" -c:a aac -b:a 192k -shortest -filter:a \"volume=${audio_volume}\"`;\n}\n\nreturn { \n  theme, \n  clip_number, \n  image_path, \n  tempImage, \n  tempVideo, \n  outputVideoPath, \n  effect_type, \n  effect_duration, \n  audio_track, \n  audio_volume, \n  ffmpegCmd: cmd \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0],
      "id": "prep",
      "name": "Prepare Paths"
    },
    {
      "parameters": {
        "command": "=mc cp hp1/{{ $json.image_path }} {{ $json.tempImage }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 0],
      "id": "download",
      "name": "Download Image"
    },
    {
      "parameters": {
        "command": "={{ $json.ffmpegCmd }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [600, 0],
      "id": "generate",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "command": "=mc cp {{ $json.tempVideo }} hp1/{{ $json.outputVideoPath }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [800, 0],
      "id": "upload",
      "name": "Upload to MinIO"
    },
    {
      "parameters": {
        "command": "=ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 {{ $json.tempVideo }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1000, 0],
      "id": "validate",
      "name": "Validate Duration"
    },
    {
      "parameters": {
        "command": "=mc share download hp1/{{ $json.outputVideoPath }} | grep -oP 'http\\K.*'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1200, 0],
      "id": "share",
      "name": "Create Share URL"
    },
    {
      "parameters": {
        "command": "=PGPASSWORD=AlfredDB2026Secure psql -h localhost -U alfred -d mission_control -c \"UPDATE screensaver_prompts SET video_path = '{{ $json.outputVideoPath }}', share_url = '{{ $share.output }}' WHERE id = 'ss-{{ $json.theme }}-{{ $json.clip_number }}';\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1400, 0],
      "id": "updateDb",
      "name": "Update PostgreSQL"
    },
    {
      "parameters": {
        "command": "=rm -f {{ $json.tempImage }} {{ $json.tempVideo }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1600, 0],
      "id": "cleanup",
      "name": "Cleanup Temp Files"
    },
    {
      "parameters": {
        "respondWith": "JSON",
        "responseBody": "={\n  \"success\": true,\n  \"clip_path\": \"{{ $json.outputVideoPath }}\",\n  \"share_url\": \"{{ $share.output }}\",\n  \"duration\": {{ $validate.output }},\n  \"resolution\": \"1920x1080\",\n  \"theme\": \"{{ $json.theme }}\",\n  \"clip_number\": {{ $json.clip_number }}\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1800, 0],
      "id": "respond",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Paths": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Upload to MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to MinIO": {
      "main": [
        [
          {
            "node": "Validate Duration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Duration": {
      "main": [
        [
          {
            "node": "Create Share URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Share URL": {
      "main": [
        [
          {
            "node": "Update PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update PostgreSQL": {
      "main": [
        [
          {
            "node": "Cleanup Temp Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Temp Files": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "screensaver-step3-complete-v1",
  "meta": {
    "instanceId": "n8n.wolfeinkc.uk"
  },
  "tags": [
    {
      "id": "screensaver",
      "name": "screensaver"
    }
  ]
}
